// ----------- COLORS ------------- //
$voiletColor: #5964e0;
$lightvioletColor: #939bf4;
$darkBlue: #19202d;
$midnightColor: #121721;
$whiteColor: #ffffff;
$lightgrayColor: #f4f6f8;
$grayColor: #9daec2;
$darkgrayColor: #6e8098;
$bodyColor: #f2f2f2;
// ----------- FONT -------------- //
$Kumbh: "Kumbh Sans", sans-serif;
