.navbar__tablet {
  background: #5964e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5% 100px 5%;
  border-radius: 0px 0px 0px 100px;
  position: relative;
}
.navbar__tablet-logo {
  width: 115px;
  height: 32px;
}
.navbar__tablet-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.navbar__tablet-icon {
  background: #ffffff;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  margin: 0 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2px;
}
.navbar__tablet-icon-switch {
  background: #5964e0;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
.navbar__tablet__form {
  display: flex;
  position: absolute;
  top: 140px;
  width: 100%;
}
.navbar__tablet__form-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 80px;
  width: 100%;
  border-right: 2px solid #6e8098;
}
.navbar__tablet__form-search img {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}
.navbar__tablet__form-location img {
  margin-left: 30px;
  top: 30px;
  width: 17px;
  height: 24px;
}
.navbar__tablet__form-btn button {
  background: #5964e0;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 20px 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.navbar__tablet__form-input input {
  height: 80px;
  width: 100%;
  padding-left: 20px;
  border: none;
  outline: none;
}
.navbar__tablet__form-input input::-moz-placeholder {
  color: #19202d;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.navbar__tablet__form-input input:-ms-input-placeholder {
  color: #19202d;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.navbar__tablet__form-input input::placeholder {
  color: #19202d;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.navbar__tablet__form-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  background: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.navbar__tablet__form-container1 label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Kumbh Sans", sans-serif;
  color: #19202d;
  margin-right: 20px;
}
.navbar__tablet__form-checkbox input {
  margin: 0 20px;
  width: 24px;
  height: 24px;
  background: #19202d;
  border-radius: 3px;
  border: none;
}
.navbar__tablet__form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin: 0 5%;
  width: 100%;
}

.first-input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}