.load {
  background: #5964e0;
  color: #ffffff;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  padding: 20px 35px;
  cursor: pointer;
}

.detail__card-btn {
  background: #5964e0 10;
  border-radius: 5px;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  color: #5964e0;
  padding: 12px 15px;
  cursor: pointer;
}

.tablet__detail__card-btn {
  background: #5964e0 10;
  border-radius: 5px;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  color: #5964e0;
  padding: 13px 16px;
  cursor: pointer;
}

.apply-btn {
  background: #5964e0;
  color: #ffffff;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 45px;
  cursor: pointer;
  width: 100%;
}

.tablet-apply-btn {
  background: #5964e0;
  color: #ffffff;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  padding: 16px 26px;
  cursor: pointer;
  width: 100%;
}